{{extend 'layout.html'}}

<style type="text/css">
	.devices{

	}
	.devices ul {
		list-style-type: none
	}
	.devices ul li a.btn{
		width: 200px;
		margin: 4px;
	}
</style>

<div>
	<h2>Add New Device</h2>
	<div class="devices">
		<ul>
			<li><a href="authorization?device_type=rumy" class="btn btn-primary btn-lg">Rumy</a></li>
			<li><a href="authorization?device_type=nest" class="btn btn-primary btn-lg">Nest</a></li>
			<li><a href="authorization?device_type=lifx" class="btn btn-primary btn-lg">Lifx</a></li>
			<li><a href="authorization?device_type=illumi" class="btn btn-primary btn-lg">Illumi</a></li>
		</ul>
	</div>
</div>
