{{extend 'layout.html'}}

    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <script src="{{=base_url}}static/assets/js/jquery.knob.min.js"></script>
    <script>

        var FLAG_ajax_processing=0;

        function loadlist(selobj,url,nameattr) {
            $(selobj).empty();
            $.ajax({
                url: url,
                data: {},
                success: function (data) {
                    var parsedJson = jQuery.parseJSON(data);
                    //alert(JSON.stringify(parsedJson.rumi_list));
                    var parsed_2 = parsedJson.dlist;
                    //alert(data[1]);
                    $.each(parsed_2, function (i, obj) {
                        $(selobj).append(
                                $('<option></option>')
                                        .val(obj[nameattr])
                                        .html(obj[nameattr])
                        );
                    });

                loadTable('get_peripheral_table');
                }
            });
        }

        function loadTable(url) {
            $("#link_table tbody").remove();
            $.ajax({
                url: url,
                data: "rumi_name=" + $('#rumi_name').val(),
                success: function (data) {
                    var parsedJson = jQuery.parseJSON(data);
                    var parsed_2 = parsedJson.dlist;
                    drawTable(parsed_2);
                }
            });
            FLAG_ajax_processing=0;
            Android.updateLinks({{=user_id}});
        }

        function remapTable(data) {             // To remove redundant entries from SQL return.
            var per_name = new Array();
            for (var i = 0; i < data.length; i++) {
                //console.log(data[i]);
                if ((data[i].rumi_name) == $('#rumi_name').val()) {
                    per_name[i] = data[i].peripheral_name;
                }
                else {
                    data[i].id = "invalid";
                }
            }

            for (i = 0; i < data.length; i++) {
                //console.log(data[i]);
                if ((data[i].id) == "invalid") {
                    data[i].rumi_name="invalid";
                }
            }

            for (i = 0; i < data.length; i++) {
                for (var k = 0; k < data.length; k++) {
                    if (data[i].peripheral_name == data[k].peripheral_name){
                        //console.log(data[i].id)
                        if (data[i].id == "invalid" && i!=k) {      //the i!=k statement can introduce bug. quick fix. FIXIT
                            data[i].peripheral_name = "invalid"
                        }
                    }
                }
            }

            //for (i = 0; i < data.length; i++) {
                //console.log(data[i]);
            //}
        }

        function drawTable(data) {
            remapTable(data);
            for (var i = 0; i < data.length; i++) {
                drawRow(data[i]);
            }
        }

        function drawRow(rowData) {
            if (rowData.peripheral_name != "invalid") {
                var row = $("<tr />")
                $("#link_table").append(row);
                row.append($("<td id='peripheral_id' style='display:none'>" + rowData.id + "</td>"));
                row.append($("<td id='peripheral_name'>" + rowData.peripheral_name + "</td>"));

                if (rowData.rumi_name == $('#rumi_name').val())  {

                    row.append("<td><input type= 'checkbox' name = 'Check' checked ></input></td>");
                }
                else
                    row.append("<td><input type= 'checkbox'></input></td>");
            }
        }

        jQuery(document).ready(function(){
            loadlist($('select#rumi_name').get(0),'get_rumi_list','rumi_name');

            $("#link_table").on("click", 'input[type="checkbox"]', function(){
                var chk = $(this).closest('tr').find('input:checkbox');
                var link_id=$(this).closest('tr').find('#peripheral_id').text();
                var peripheral_name=$(this).closest('tr').find('#peripheral_name').text();
                $("#periph_id").val(peripheral_name);
                $("#link_idd").val(link_id);

                if(chk[0].checked==true && FLAG_ajax_processing==0) {
                    FLAG_ajax_processing = 1;
                    ajax('create_link_ajax_response', ['rumi_name', 'peripheral_name'], ':eval');        //reload the table when new record is created
                }

                if(chk[0].checked==false)
                    ajax('remove_link_2', ['link_id'], ':eval');
            });

            $( "#rumi_name" ).change(function() {
                loadTable('get_peripheral_table');
            });
        });

    </script>

<div id="configure_content">
    <div style="margin-bottom: 1em; overflow: auto; height:50px;"></div>
    <div class="basic-grey">
        <center>Select Rumy</center>
        <form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
            <select class="generic-widget form-control" id="rumi_name" name="rumi_name"> </select>
        </form>
    </div>

    <div class = "datagrid">
        <center>Link Rumy with devices:</center>
        <table id="link_table">
            <tr>
                <th style="display:none">Id</th>
                <th>Peripheral Name</th>
                <th>Linked?</th>
            </tr>
        </table>
    </div>

    <input type="text" id="periph_id" name="peripheral_name" style="display:none">
    <input type="text" id="link_idd" name="link_id" style="display:none">
    </div>
