{{extend 'layout.html'}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js">
    
</script>

<script>
    jQuery(document).ready(function() {

        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
        }

        //$('#urlparam').val(getURLParameter('code'));
        var oauth=getURLParameter('oauth');

        var contentType ="application/x-www-form-urlencoded; charset=utf-8";
        if(window.XDomainRequest)
            contentType = "text/plain";

        {
            $.ajax({
                type: "GET",
                headers:{
                    "Access-Control-Request-Origin":'*',
                    "Access-Control-Request-Methods": "GET",
                    "Authorization":oauth
                },

            url: "https://developer-api.nest.com/",
            data: {},
            dataType: 'json',
            success:function(data){
                alert(JSON.stringify(data));
                var parsedJson= jQuery.parseJSON(JSON.stringify(data));
                //alert(parsedJson.access_token);
                //window.location.href = "get_info" //...URLencode() ??....FIXIT
            },
            error:function(data)
            {
                var parsedJson= jQuery.parseJSON(JSON.stringify(data));
                var p2=jQuery.parseJSON(JSON.stringify(parsedJson.responseJSON));
                alert(p2.access_token);
                //alert(JSON.stringify(data));
            }
            });
        }
    });
</script>
