{{extend 'layout.html'}}
<style>
.btn{
		width: 110px;
		padding: 4px;
	}
</style>

<div>
    <li>{{=device_id}}</li>
</div>
<div>
    <li>{{=device_name}}</li>
</div>
<div>
    <li>{{=struct_name}}</li>
</div>
<div>
    <li>{{=struct_id}}</li>
</div>

<div>
    <h3>Connect Your Peripherals</h3>
	{{for struct in structures:}}
		{{values = structures[struct]}}
		{{for i in values:}}
			{{if i == 'wheres':}}
				{{for w in values[i]:}}
					{{for v in values[i][w]:}}
						{{names=values[i][w]}}
						{{if v == 'name':}}
                            <a href="{{=URL('default','connect')}}" class='btn btn-lg btn-primary'>{{=names[v]}}</a>
                        {{pass}}
                    {{pass}}
                {{pass}}
            {{pass}}
        {{pass}}
    {{pass}}
</div>
<div>
    {{=form}}
</div>
