{{extend 'layout.html'}}

<div>
    <table class="table">
        <h1>
            Hi! {{="%(first_name)s %(last_name)s" % auth.user}}
        </h1>
        <tr>
            <th>Peripheral Name</th>
            <th>Peripheral Type</th>
            <th>Action</th>
        </tr>
        
        {{for row in rows:}}
            {{if row.User_Peripheral_Detail.user_id == auth.user_id:}}
        <tr>
            <td>{{=row.Peripherals.peripheral_name}}</td>
            <td>{{=row.Peripherals.peripheral_type}}</td>
            <td><a href="{{=URL('delete', args=row.Peripherals.id)}}" class='btn btn-sm btn-success'>Delete</a></td>
        </tr>
            {{pass}}
        {{pass}}
    </table>
</div>
<div>
  <button type="button" class="btn btn-primary" onclick="location.href='add_new'">Add New</button>
</div>
