{{extend 'layout.html'}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>

<script>
    jQuery(document).ready(function() {

        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
        }

        //$('#urlparam').val(getURLParameter('code'));
        var code=getURLParameter('code');

        var contentType ="application/x-www-form-urlencoded; charset=utf-8";
        if(window.XDomainRequest)
            contentType = "text/plain";

        {
            $.ajax({
                type: "POST",
                headers:{
                    "Access-Control-Request-Origin":'*',
                    "Access-Control-Request-Methods": "POST"
                },
            /*url: "https://cors-anywhere.herokuapp.com/api.home.nest.com/oauth2/access_token",  //...slower response?
            data: {
                client_id:'6a4b06f5-a386-4fe9-a2b1-a40dbdd6d59a',
                code:'NQ548SK2CSX3FXA8',
                client_secret: '10QTzeTOVHrchiRpTfkIapShK',
                grant_type: 'authorization_code'
            },
            //http://stackoverflow.com/questions/24397596/nest-api-authorization-giving-404*/

            url: "https://cors-anywhere.herokuapp.com/api.home.nest.com/oauth2/access_token?"+
            "client_id=e2fdee25-2803-4965-b4f6-d300da5cac03&"+
            "code="+code+"&"+
            "client_secret=CUEDgheUAjViuaV8jGZMcDl98&grant_type=authorization_code",
            data: {},
            dataType: 'json',
            success:function(data){
                //alert(JSON.stringify(data));
                var parsedJson= jQuery.parseJSON(JSON.stringify(data));
                //alert(parsedJson.access_token);
                //window.location.href = "oAuth_update_peripheral?device_type=nest&oAuth="+parsedJson.access_token //...URLencode() ??....FIXIT
                window.location.href = "get_update_peripheral?device_type=nest&oAuth="+parsedJson.access_token
                //window.location.href="https://developer-api.nest.com/Authentication="+parsedJson.access_token
            },
            error:function(data)
            {
                var parsedJson= jQuery.parseJSON(JSON.stringify(data));
                var p2=jQuery.parseJSON(JSON.stringify(parsedJson.responseJSON));
                alert(p2.access_token);
                //alert(JSON.stringify(data));
            }
            });
        }
    });
</script>

<div class="basic-grey">

    <!--input type="text" id="urlparam" name="urlparamname"--> <!-- To store the linked value for the dial dev. HACK. FIXIT? -->
    <!--button class="button" id="Delete_button" onclick="location.href= 'delete_device'"  >Delete device</button-->
</div>
