{{extend 'layout.html'}}
<html>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<script>
    jQuery(document).ready(function(){

       $('#Peripherals_peripheral_type').prop('readonly', true);

        $("#Peripherals_oAuth").hide(); <!-- User ID becomes none when user not logged in FIXIT -->
        $("#Peripherals_oAuth__label").hide();

        $("#User_Devices_oAuth").hide(); <!-- User ID becomes none when user not logged in FIXIT -->
        $("#User_Devices_oAuth__label").hide()

        $("#Peripherals_dial").hide(); <!-- User ID becomes none when user not logged in FIXIT -->
        $("#Peripherals_dial__label").hide();


    });

</script>
<br><br><br>

<div class="basic-grey">
{{=form}}
</div>

</html>
