{{extend 'layout.html'}}
<html>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<script>
    jQuery(document).ready(function(){


        $("#signature").hide(); <!-- User ID becomes none when user not logged in FIXIT -->
        $("#signature__label").hide();

        $("#Rumi_signature").hide(); <!-- User ID becomes none when user not logged in FIXIT -->
        $("#Rumi_signature__label").hide()

        $("#Rumi_switch_value").hide(); <!-- User ID becomes none when user not logged in FIXIT -->
        $("#Rumi_switch_value__label").hide()

        $("#Rumi_dial_value").hide(); <!-- User ID becomes none when user not logged in FIXIT -->
        $("#Rumi_dial_value__label").hide()



    });

</script>
<br><br><br>

<div class="basic-grey">
{{=form}}
</div>
</html>
